In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import io

## Wczytanie przetworzonego pliku oraz wyświetlenie jego początku

In [2]:
df = pd.read_csv("../AnalysisData/Kujawsko-Pomorskie.csv")
df_head = str(df.head(8))
df.head(8)

   ID  Dni od zakupu       Marka  Wiek kupującego Płeć kupującego  Ocena
0   0             13  Electrolux             38.0               K    2.5
1   1              6        Beko             30.0               K    2.0
2   2              6       Dyson             43.0               K    2.5
3   3              5        Beko              NaN               M    3.0
4   4             10       Dyson             42.0               K    3.5
5   5              9       Dyson             49.0               K    1.0
6   6              9  Electrolux              NaN               M    0.0
7   7              5       Dyson             51.0             NaN    3.0

## Opis oraz informacje o danych

In [3]:
# informacje o danych
buffer = io.StringIO()
df.info(buf=buffer)
info = buffer.getvalue()
print(info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               458 non-null    int64
 1   Dni od zakupu    458 non-null    int64
 2   Marka            458 non-null    object
 3   Wiek kupującego  413 non-null    float64
 4   Płeć kupującego  384 non-null    object
 5   Ocena            458 non-null    float64
dtypes: float64(2), int64(2), object(2)
memory usage: 21.6+ KB

In [4]:
# opis zmiennych numerycznych
num = str(df.describe(include=[np.number]))
print(num)

               ID  Dni od zakupu  Wiek kupującego       Ocena
count  458.000000     458.000000       413.000000  458.000000
mean   228.500000       7.074236        40.125908    2.465066
std    132.357471       2.708070         9.558640    1.055818
min      0.000000       1.000000        18.000000    0.000000
25%    114.250000       5.000000        33.000000    2.000000
50%    228.500000       7.000000        39.000000    2.500000
75%    342.750000       9.000000        46.000000    3.000000
max    457.000000      17.000000        74.000000    5.000000

In [5]:
# opis zmiennych nienumerycznych
non_num = str(df.describe(include=[object]))
print(non_num)

        Marka Płeć kupującego
count     458             384
unique      5               2
top     Dyson               K
freq      190             226

## Utworzenie pliku tekstowego DataAppendix.txt oraz zapisanie do niego danych

In [6]:
with open('../Documents/DataAppendix.txt', 'w') as file:
    file.write("Data appendix dla przetworzonego pliku: tb_clean.csv\n\n")
    file.write("Head of data:\n")
    file.write(df_head)
    file.write("\n\nInformacje o danych:\n")
    file.write(info)
    file.write("\n\nOpis zmiennych numerycznych:\n")
    file.write(num)
    file.write("\n\nOpis zmiennych nienumerycznych:\n")
    file.write(non_num)