In [1]:
import pandas as pd

# Działania na oryginalnym pliku

In [2]:
# Wczytanie oryginalnego pliku
tb = pd.read_csv("../OriginalData/tb.csv")

# Zmiana nazwy pierwszej kolumny
tb = tb.rename(columns={"iso2": "country"})

# Usunięcie niepotrzebnego członu w nazwach kolumn z wiekiem oraz płcią
tb = tb.rename(columns=lambda x: x.replace('new_sp_', ''))

# Usunięcie wierszy, które w kolumnach 'country' oraz 'new_sp' zawierają wartości NaN
tb = tb.dropna(subset=['country', 'new_sp'])

# Usunięcie niepotrzebnej kolumny 'new_sp'
tb = tb.drop(['new_sp'], axis=1)

# Melting

In [3]:
# Przeprowadzenie meltingu, czyli zmiana konstrukcji danych na czytelniejsze oraz bardziej przejrzyste
tb_melted = pd.melt(tb, id_vars=["country", "year"], var_name='column', value_name='cases').dropna()

# Sortowanie po skrótach nazw państw w celu otrzymania kolejności alfabetycznej
tb_melted = tb_melted.sort_values(by=['country', 'year'])

# Tidying

In [4]:
# Utworzenie słownika do łatwiejszej zamiany zapisu przedziału wiekowego
rdict = {
    "04":"0-4",
    "514":"5-14",
    "014":"0-14",
    "1524":"15-24",
    "2534":"25-34",
    "3544":"35-44",
    "4554":"45-54",
    "5564":"55-64",
    "65":"65+"
    }

# Odczytanie płci na podstawie pierwszego znaku w kolumnie 'column'
sex = tb_melted['column'].str[:1]

# Usunięcie pierwszego znaku z kolumny 'column' po jego wcześniejszym odczytaniu i w celu odczytania wieku
tb_melted['column'] = tb_melted['column'].str[1:]

# Zamiana przedziałów wiekowych na czytelniejsze na podstawie wcześniej utworzonego słownika
ages = tb_melted['column'].replace(rdict)

# Utworzenie dwóch dodatkowych kolumn zawierających informacje osobno o płci oraz przedziale wiekowym
tb_melted.insert(2, 'sex', sex)
tb_melted.insert(3, 'ages', ages)

# Usunięcie niepotrzebnej kolumny 'column'
tb_clean = tb_melted.drop(['column'], axis=1)

# Zapisanie odpowiednio przetworzonych danych do pliku
tb_clean.to_csv('../AnalysisData/tb_clean.csv', index=False)