# Laboratorium 5 - Wyrażenia regularne

Zaimportowanie potrzebnych bibliotek oraz połączenie z bazą danych.

In [1]:
import psycopg2 as pg
import pandas as pd
import main
import numpy as np
import pickle
from typing import Union, List, Tuple

In [2]:
connection = pg.connect(host='pgsql-196447.vipserv.org', port=5432, dbname='wbauer_adb', user='wbauer_adb', password='adb2020')

## Zadania

1. Znajdź wszystkie nazwy krajów rozpoczynających się na P

In [3]:
sql = ("SELECT country FROM country WHERE country LIKE 'P%'")

z1 = pd.read_sql(sql, con=connection)
print(z1)

       country
0     Pakistan
1     Paraguay
2         Peru
3  Philippines
4       Poland
5  Puerto Rico

Zostało znalezionych 6 krajów, których nazwy rozpoczynają się od P.

2. Znajdź wszystkie nazwy krajów rozpoczynających się P i kończących na s.

In [4]:
sql = ("SELECT country FROM country WHERE country LIKE 'P%s'")

z2 = pd.read_sql(sql, con=connection)
print(z2)

       country
0  Philippines

Do warunku rozpoczęcia nazwy kraju od P, dołożyliśmy warunek zakończenia na s. W ten sposób został znaleziony tylko jeden kraj.

3. Znajdź wszystkie tytuły filmów, w których znajdują się cyfry.

In [5]:
sql = ("SELECT title FROM film WHERE title LIKE '%[0-9]%'")

z3 = pd.read_sql(sql, con=connection)
print(z3)

Empty DataFrame
Columns: [title]
Index: []

W bazie danych nie znajdują się żadne tytuły filmów zawierające cyfry.

4. Znajdź wszystkich pracowników z podwójnym imieniem lub nazwiskiem.

In [6]:
sql = ("SELECT first_name, last_name FROM staff\
        WHERE first_name ILIKE '+[ ,-]+' OR last_name ILIKE '+[ ,-]+'")

z4 = pd.read_sql(sql, con=connection)
print(z4)

Empty DataFrame
Columns: [first_name, last_name]
Index: []

W bazie danych nie został znaleziony żaden pracownik, który posiada podwójne imię lub nazwisko.

5. Znajdź wszystkie nazwiska aktorów rozpoczynających się od P lub C i mających 5 znaków.

In [7]:
sql = ("SELECT last_name FROM actor\
        WHERE last_name ~ '([P,C].{4}$)'")

z5 = pd.read_sql(sql, con=connection)
print(z5)

  last_name
0     Chase
1     Posey
2     Pesci
3     Crowe
4     Chase
5     Close

Aktorów, których nazwiska rozpoczynają się od P lub od C i mają 5 znaków, jest sześciu.

6. Znajdź wszystkie tytuły filmów, w których występują słowa Trip lub Alone.

In [8]:
sql = ("SELECT title FROM film\
        WHERE title ~ '(Trip|Alone)' ")

z6 = pd.read_sql(sql, con=connection)
print(z6)

           title
0     Alone Trip
1  Superfly Trip
2    Trip Newton
3   Varsity Trip

W wyniku działania powyższego kodu zostało znalezione 4 tytuły, w których występują słowa Trip lub Alone.

7. Przeanalizuj zapytania:

    -select first_name from actor where first_name ~ '^Al[a:z,1:9]*'
    
    -select first_name from actor where first_name ~* '^al[a:z,1:9]*'

In [9]:
sql_1 = ("SELECT first_name FROM actor\
          WHERE first_name ~ '^Al[a:z,1:9]*'")

z7_1 = pd.read_sql(sql_1, con=connection)
print(z7_1)

  first_name
0       Alec
1     Albert
2     Albert
3         Al
4       Alan

In [10]:
sql_2 = ("SELECT first_name FROM actor\
          WHERE first_name ~* '^al[a:z,1:9]*'")

z7_2 = pd.read_sql(sql_2, con=connection)
print(z7_2)

  first_name
0       Alec
1     Albert
2     Albert
3         Al
4       Alan

Powyższe zapytania różnią się występowaniem gwiazdki, odpowiadającej za wykrycie sekwencji 0 lub więcej dopasowań danych ciągów. Chodzi tutaj o zmianę znaku " ~ " na " ~* " . Powoduje to brak rozróżniania wielkości liter, wobec czego wyniki są takie same pomimo zastosowanie w pierwszym przypadkiej wielkiej litery "A", a w drugim małej litery "a".

## Zadania implementacyjne

In [11]:
# Test funkcji pierwszej - film_in_category
print(main.film_in_category(1))

                     title               languge category
0             Amadeus Holy  English                Action
1          American Circus  English                Action
2       Antitrust Tomatoes  English                Action
3            Ark Ridgemont  English                Action
4      Barefoot Manchurian  English                Action
..                     ...                   ...      ...
59         Uprising Uptown  English                Action
60  Waterfront Deliverance  English                Action
61           Werewolf Lola  English                Action
62            Women Dorado  English                Action
63            Worst Banger  English                Action

[64 rows x 3 columns]

In [12]:
# Test funkcji drugiej - film_in_category_case_insentive
print(main.film_in_category_case_insensitive('action'))

                     title               languge category
0             Amadeus Holy  English                Action
1          American Circus  English                Action
2       Antitrust Tomatoes  English                Action
3            Ark Ridgemont  English                Action
4      Barefoot Manchurian  English                Action
..                     ...                   ...      ...
59         Uprising Uptown  English                Action
60  Waterfront Deliverance  English                Action
61           Werewolf Lola  English                Action
62            Women Dorado  English                Action
63            Worst Banger  English                Action

[64 rows x 3 columns]

In [13]:
# Test funkcji trzeciej - film_cast
print(main.film_cast('American Circus'))

  first_name last_name
0      Kevin     Bloom
1        Rip  Crawford
2     Sidney     Crowe
3     Warren   Jackman
4    Frances     Tomei

In [14]:
# Test funkcji czwartej - film_title_case_insensitive
print(main.film_title_case_insensitive(['crystal', 'WOMEN', 'lol']))

              title
0  Crystal Breaking
1   Dracula Crystal
2      Women Dorado