# Ćwiczenie 4 Łączenie tabel, grupowanie i funkcje agregujące

Zaimportowanie potrzebnych bibliotek oraz połączenie z bazą danych.

In [1]:
import psycopg2 as pg
import pandas as pd

In [2]:
connection = pg.connect(host='pgsql-196447.vipserv.org', port=5432, dbname='wbauer_adb', user='wbauer_adb', password='adb2020')

## Zadania wprowadzające

# Zadanie 1
Znajdź listę wszystkich filmów o tej samej długości.

In [30]:
sql = ("SELECT length, COUNT(title) FROM film \
        GROUP BY length ORDER BY count DESC")

z1 = pd.read_sql(sql, con=connection)

print(z1)

     length  count
0        85     17
1       112     13
2       179     13
3        84     13
4       100     12
..      ...    ...
135      81      3
136      66      2
137      96      2
138      95      2
139      55      2

[140 rows x 2 columns]

# Zadanie 2
Znajdź wszystkich klientów mieszkających w tym samym mieście.

In [ ]:
sql = ("SELECT first_name, last_name FROM customer ")

# Zadanie 3
Oblicz średni koszt wypożyczenia wszystkich filmów.

In [25]:
sql = ("SELECT AVG(amount) FROM payment")

z3 = pd.read_sql(sql, con=connection)
print(z3)

        avg
0  4.200606

# Zadanie 4
Oblicz i wyświetl liczbę filmów we wszystkich kategoriach.

In [32]:
sql = ("SELECT category_id, COUNT(film_id) FROM film_category\
        GROUP BY category_id ORDER BY count DESC")

z4 = pd.read_sql(sql, con=connection)
print(z4)

    category_id  count
0            15     74
1             9     73
2             8     69
3             6     68
4             2     66
5             1     64
6            13     63
7             7     62
8            14     61
9            10     61
10            3     60
11            5     58
12           16     57
13            4     57
14           11     56
15           12     51

# Zadanie 5
Wyświetl liczbę wszystkich klientów pogrupowanych według kraju.

# Zadanie 6
Wyświetl informacje o sklepie, który ma więcej niż 100 klientów i mniej niż 300 klientów.

# Zadanie 7
Wybierz wszystkich klientów, którzy oglądali filmy ponad 200 godzin.

# Zadanie 8
Oblicz średnią wartość wypożyczenia filmu.

# Zadanie 9
Oblicz średnią wartość długości filmu we wszystkich kategoriach.

# Zadanie 10
Znajdź najdłuższe tytuły filmowe we wszystkich kategoriach.

# Zadanie 11
Znajdź najdłuższy film we wszystkich kategoriach. Porównaj wynik z pkt 10.