# Ćwiczenie 4 Łączenie tabel, grupowanie i funkcje agregujące

Zaimportowanie potrzebnych bibliotek oraz połączenie z bazą danych.

In [1]:
import psycopg2 as pg
import pandas as pd

In [2]:
connection = pg.connect(host='pgsql-196447.vipserv.org', port=5432, dbname='wbauer_adb', user='wbauer_adb', password='adb2020')

## Zadania wprowadzające

# Zadanie 1
Znajdź listę wszystkich filmów o tej samej długości.

In [3]:
sql = ("SELECT length, COUNT(title) FROM film \
        GROUP BY length ORDER BY count DESC")

z1 = pd.read_sql(sql, con=connection)

print(z1)

     length  count
0        85     17
1       112     13
2       179     13
3        84     13
4       100     12
..      ...    ...
135      81      3
136      66      2
137      96      2
138      95      2
139      55      2

[140 rows x 2 columns]

W bazie danych zostało znalezionych 140 różnych długości filmów. Najczęściej występujące, bo aż 17 razy, są filmy o długości 85 minut.

# Zadanie 2
Znajdź wszystkich klientów mieszkających w tym samym mieście.

In [4]:
sql = ("SELECT city.city, COUNT(customer.last_name)\
        FROM customer\
        INNER JOIN address ON customer.address_id = address.address_id\
        INNER JOIN city ON address.city_id = city.city_id\
        GROUP BY city.city\
        ORDER BY COUNT(customer.last_name) DESC")

z2 = pd.read_sql(sql, con=connection)
print(z2)

                     city  count
0                  London      2
1                  Aurora      2
2               Molodetno      1
3                 Yerevan      1
4    Vitria de Santo Anto      1
..                    ...    ...
592          Garden Grove      1
593          Novoterkassk      1
594               Asuncin      1
595              Maracabo      1
596            Rae Bareli      1

[597 rows x 2 columns]

Ilość miast, w których mieszka co najmniej jeden klient wynosi 597. Natomiast tylko w dwóch miastach, w Londynie i Aurorze, mieszka po dwóch klientów.

# Zadanie 3
Oblicz średni koszt wypożyczenia wszystkich filmów.

In [5]:
sql = ("SELECT AVG(amount) FROM payment")

z3 = pd.read_sql(sql, con=connection)
print(z3)

        avg
0  4.200606

Średni koszt wypożyczenia wszystkich filmów, w przybliżeniu, wynosi 4.20.

# Zadanie 4
Oblicz i wyświetl liczbę filmów we wszystkich kategoriach.

In [6]:
sql = ("SELECT category.name, COUNT(film.film_id)\
        FROM film\
        INNER JOIN film_category ON film.film_id = film_category.film_id\
        INNER JOIN category ON film_category.category_id = category.category_id\
        GROUP BY category.name ORDER BY count DESC")

z4 = pd.read_sql(sql, con=connection)
print(z4)

           name  count
0        Sports     74
1       Foreign     73
2        Family     69
3   Documentary     68
4     Animation     66
5        Action     64
6           New     63
7         Drama     62
8        Sci-Fi     61
9         Games     61
10     Children     60
11       Comedy     58
12       Travel     57
13     Classics     57
14       Horror     56
15        Music     51

Łącznie kategorii filmów jest 16. Najwięcej, bo aż 74, jest filmów z kategorii Sport, natomiast najmniej, bo 51, jest filmów z kategorii Muzyka.

# Zadanie 5
Wyświetl liczbę wszystkich klientów pogrupowanych według kraju.

In [7]:
sql = ("SELECT country.country, COUNT(customer.last_name)\
        FROM customer\
        INNER JOIN address ON customer.address_id = address.address_id\
        INNER JOIN city ON address.city_id = city.city_id\
        INNER JOIN country ON city.country_id = country.country_id\
        GROUP BY country.country\
        ORDER BY COUNT(customer.last_name) DESC")

z5 = pd.read_sql(sql, con=connection)
print(z5)

           country  count
0            India     60
1            China     53
2    United States     36
3            Japan     31
4           Mexico     30
..             ...    ...
103        Hungary      1
104    New Zealand      1
105        Senegal      1
106      Greenland      1
107          Tonga      1

[108 rows x 2 columns]

Klienci mieszkają w 108 krajach. Najwięcej znajduje się w Indiach. Pochodzi stamtąd 60 klientów.

# Zadanie 6
Wyświetl informacje o sklepie, który ma więcej niż 100 klientów i mniej niż 300 klientów.

In [8]:
sql = ("SELECT store.store_id, COUNT(customer.last_name)\
        FROM customer\
        INNER JOIN store ON customer.store_id = store.store_id\
        GROUP BY store.store_id\
        HAVING COUNT(customer.last_name) BETWEEN 100 AND 300")

z6 = pd.read_sql(sql, con=connection)
print(z6)

   store_id  count
0         2    273

Jedynym sklepem, który spełnia warunek posiadania więcej niż 100, ale mniej niż 300 klientów jest ten o numerze ID równym 2.

# Zadanie 7
Wybierz wszystkich klientów, którzy oglądali filmy ponad 200 godzin.

In [9]:
sql = ("SELECT customer.first_name, customer.last_name, SUM(film.length)\
        FROM customer\
        INNER JOIN rental ON customer.customer_id = rental.customer_id\
        INNER JOIN inventory ON rental.inventory_id = inventory.inventory_id\
        INNER JOIN film ON inventory.film_id = film.film_id\
        GROUP BY customer.customer_id\
        HAVING SUM(film.length)/60 > 200")

z7 = pd.read_sql(sql, con=connection)
print(z7)

Empty DataFrame
Columns: [first_name, last_name, sum]
Index: []

Kod zwrócił pusty DataFrame, w związku z tym można stwierdzić, że nie ma żadnych klientów, którzy oglądali film ponad 200 godzin.

Jest to spowodowane tym, że długość oglądania jest podana w minutach. Gdyby polecenie zawierało klientów, którzy oglądali filmy ponad 200 minut, to DataFrame przedstawiałby się następująco:

In [10]:
sql = ("SELECT customer.first_name, customer.last_name, SUM(film.length)\
        FROM customer\
        INNER JOIN rental ON customer.customer_id = rental.customer_id\
        INNER JOIN inventory ON rental.inventory_id = inventory.inventory_id\
        INNER JOIN film ON inventory.film_id = film.film_id\
        GROUP BY customer.customer_id\
        HAVING SUM(film.length) > 200")

z7_2 = pd.read_sql(sql, con=connection)
print(z7_2)

    first_name last_name   sum
0       Vickie    Brewer  3484
1       Connie   Wallace  2795
2       Sylvia     Ortiz  3567
3       Miriam  Mckinney  2672
4    Gwendolyn       May  2890
..         ...       ...   ...
594    Jeffrey     Spear  2678
595      Hilda   Hopkins  3080
596      Clara      Shaw  4808
597      Maria    Miller  3494
598     Calvin    Martel  2730

[599 rows x 3 columns]

# Zadanie 8
Oblicz średnią wartość wypożyczenia filmu.

In [11]:
sql = ("SELECT AVG(payment.amount)\
        FROM payment\
        INNER JOIN rental ON payment.rental_id = rental.rental_id\
        INNER JOIN inventory ON rental.inventory_id = inventory.inventory_id\
        INNER JOIN film ON inventory.film_id = film.film_id")

z8 = pd.read_sql(sql, con=connection)
print(z8)

        avg
0  4.200606

Średnia wartość wypożyczenia filmu wyniosła 4.20. Jest to taka sama wartość jak w ćwiczeniu trzecim.

# Zadanie 9
Oblicz średnią wartość długości filmu we wszystkich kategoriach.

In [12]:
sql = ("SELECT category.name, AVG(length)\
        FROM category\
        INNER JOIN film_category ON category.category_id = film_category.category_id\
        INNER JOIN film ON film_category.film_id = film.film_id\
        GROUP BY category.name\
        ORDER BY AVG(length) DESC")

z9 = pd.read_sql(sql, con=connection)
print(z9)

           name         avg
0        Sports  128.202703
1         Games  127.836066
2       Foreign  121.698630
3         Drama  120.838710
4        Comedy  115.827586
5        Family  114.782609
6         Music  113.647059
7        Travel  113.315789
8        Horror  112.482143
9      Classics  111.666667
10       Action  111.609375
11          New  111.126984
12    Animation  111.015152
13     Children  109.800000
14  Documentary  108.750000
15       Sci-Fi  108.196721

Najdłuższa średnia długość filmu występuje w kategorii Sport, natomiast najkrótszą średnią długość filmu posiada kategoria Sci-Fi.

# Zadanie 10
Znajdź najdłuższe tytuły filmowe we wszystkich kategoriach.

In [16]:
sql = ("SELECT category.name, MAX(LENGTH(film.title))\
        FROM category\
        INNER JOIN film_category ON category.category_id = film_category.category_id\
        INNER JOIN film ON film_category.film_id = film.film_id\
        GROUP BY category.name\
        ORDER BY MAX(LENGTH(film.title)) DESC")

z10 = pd.read_sql(sql, con=connection)
print(z10)

           name  max
0        Horror   27
1        Sports   25
2        Travel   23
3        Comedy   23
4      Classics   23
5        Action   23
6        Family   22
7         Drama   22
8         Music   22
9   Documentary   22
10    Animation   22
11          New   21
12        Games   21
13      Foreign   20
14       Sci-Fi   20
15     Children   20

Najdłuższy tytuł filmowy występuje w kategorii Horror i ma 27 znaków. Najkrótsze zaś w kategoriach, Foreign, Sci-Fi oraz Children, mają po 20 znaków.

# Zadanie 11
Znajdź najdłuższy film we wszystkich kategoriach. Porównaj wynik z pkt 10.

In [13]:
sql = ("SELECT category.name, MAX(length)\
        FROM category\
        INNER JOIN film_category ON category.category_id = film_category.category_id\
        INNER JOIN film ON film_category.film_id = film.film_id\
        GROUP BY category.name\
        ORDER BY MAX(length) DESC")

z11 = pd.read_sql(sql, con=connection)
print(z11)

           name  max
0     Animation  185
1        Sci-Fi  185
2        Comedy  185
3         Games  185
4        Travel  185
5         Music  185
6        Action  185
7        Family  184
8        Sports  184
9       Foreign  184
10     Classics  184
11          New  183
12  Documentary  183
13       Horror  181
14        Drama  181
15     Children  178

Najdłuższe filmy występują w kategoriach Animation, Sci-Fi, Comedy, Games, Travel, Music oraz Action. Trwają one po 185 minut. Najkrótszy zaś jest film w kategorii Children i trwa 178 minut.

Porównując wyniki z zadania 11 oraz wyniki z zadania 10 należy stwierdzić, że różnią się one ze względu na różne dane brane pod uwagę. W zadaniu 10 uwzględnialiśmy długość tytułu wyrażaną poprzez ilość znaków, natomiast w zadaniu 11 braliśmy pod uwagę czas trwania filmu.